.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.main img {
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px #95A3A3;
    -moz-box-shadow: 0 3px 6px #95A3A3;
}
.right {
    float: right;
    text-align: right;
    display: inline;
    width: 80%;
    box-shadow: 0 3px 6px #95A3A3;
    background-image: linear-gradient(-180deg, #2F3A50 9%, #BA1D20 82%);
    padding-right: 1em;
}
.header {
    width: 100%;
    order: 0;
    padding-right: 6%;
}
.main {
    display: inherit;
    flex-wrap: inherit;
    padding-right: 6%;
    width: 100%;
}
.header hr {
    height: .5em;
    width: 80%;
    background-color: #95A3A3;
    float: right;
}
.header h1 {
    margin: auto;
    padding-top: 10%;
    font-family: 'Anton', sans-serif;
    font-size: 10vmin;
    overflow: hidden;
    color: white;
}
@media screen and (max-width: 800px) {
    .header h1 {
        padding-top: 10%;
        font-size: 6.5vmin;
        overflow: hidden;
    }
}
.header h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 3vmin;
    overflow: hidden;
    color: white;
}
h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
}
.header .logo {
    padding-left: 1em;
    padding-top: 2em;
    float: left;
    width: 25%;
    padding-bottom: 1em;
}
aside {
    right: 5%;
    position: relative;
    width: 20%;
    order: 1;
}
.red {
    -webkit-box-shadow: 0 3px 6px #95A3A3;
    -moz-box-shadow: 0 3px 6px #95A3A3;
    margin-bottom: 2vh;
    padding: 1.2em;
    width: 2vw;
    height: 4vh;
    background-color: #BA1D20;

}
.red:hover,.gray:hover,.blue:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s linear;
}
.gray {
    -webkit-box-shadow: 0 3px 6px #95A3A3;
    -moz-box-shadow: 0 3px 6px #95A3A3;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 1.2em;
    width: 2vw;
    height: 4vh;
    background-color: #95A3A3;
}
.blue {
    -webkit-box-shadow: 0 3px 6px #95A3A3;
    -moz-box-shadow: 0 3px 6px #95A3A3;
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 1.2em;
    width: 2vw;
    height: 4vh;
    background-color: #2F3A50;
}
.colors {
    font-size: 2vmin;
    float: right;
}
.headshot {
    margin: 0;
    order: 2;
    width: 65%;
    float: left;
    padding-right: 5%;
}
.hs1 {
    width: 100%;
}
.project {
    width: 100%;
    height: 60%;
}
.row {
    width: 100%;
    order: 4;
    padding-left: 20%;
    display: inherit;
    flex-wrap: inherit;
    padding-bottom: 3%;
}
.picon{
    width: 5.5vmin;
}
.eicon{
    width: 5.5vmin;
}
body {
    color: #2F3A50;
    background: rgba(0, 0, 0, 0.1);
}
#box1,
#box2,
#box3{
    background-color: white;
}
#box1:hover,
#box2:hover,
#box3:hover,
#box1:active,
#box2:active,
#box3:active { 
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s linear;
    transition: transform .15slinear;
}
.row .proj1,
.proj2,
.proj3 {
    box-sizing: border-box;
    padding: 1%;
    width: 260px;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    box-shadow: 1px 1px 6px 4px #BA1D20;
}
@media screen and (max-width: 1024px) {
     .caption{
            font-size: 11px!important;
        }
    h3{
        font-size: 16px!important;
    }
    .smallcap {
    font-size: 8px;
}

}
@media screen and (max-width: 400px) {

.row .proj2 {
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .row .proj1,
.proj2,
.proj3 {
    width: 200px;
    height: 250px;
    }
        .row {
    display:inline-block;
}
}
@media screen and (min-width: 1024px) {
    .row .proj2 {
        margin-right: 6%;
        margin-left: 6%;
    }

}
@media screen and (min-width: 500px) {
    .row .proj2 {
        margin-right: 3%;
        margin-left: 3%;
    }

}
.header1 {
    padding-left: 20%;
    width: 80%;
    order: 3;
}
.header1 h2 {
    padding-left: 10px;
}
.header2 h2{
    padding-left: 10px;
}

.caption {
    font-size: 13px;
    text-align: center;
}
.smallcap {
    font-size: 2.5vmin;
    text-align: center;
    padding:.5em;
}
.about {
    order: 2;
    width: 80%;
}
.about p {
    display: block;
    margin: auto;
    width: 100%;
    padding-top: 3%;
    font-size: 16px;
}
.listoflinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.listoflinks li {
    padding: .5em;
    display: inline-flex;
}
.listoflinks a:link,
a:visited {
    background-color: #BA1D20;
    box-shadow: 0 3px 6px #95A3A3;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
.listoflinks a:hover,
a:active {
    background-color: #2F3A50;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s linear;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    /* Not sure why the round
    borders go back to square on transition.*/
}
.skills {
    list-style-type: none;
}
.skills li {
    padding: .5em;
    display: inline-flex;
}
.skills span {
    box-shadow: 0 3px 6px #95A3A3;
    background-color: #BA1D20;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
}
.skills span:hover {
    background-color: #2F3A50;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .15s linear;
}
.main a:link,
a:visited {
    background-color: #BA1D20;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display:block;
}
.main a:hover,
a:active {
    background-color: #2F3A50;
    border-radius: 5px;
    
}
.footer {
    padding: 1%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    float: right;
    box-shadow: 1px 1px 6px 4px #95A3A3;
}
.footer img{
    float:right;
    margin-right: 1em;
    margin-bottom: 1em;
}
.footer span{
    margin-bottom: 1em;
    float:right;
    font-size: 18px;
}
@media (min-width: 500px) and (max-width: 769px) {
        .skillhead{
        padding-top: 100px;
    }
}
@media (max-width: 1024px) and (min-width: 770px) {
                .skillhead{
        padding-top: 290px;
    }

}
